nav{
 background:#333;
 height:60px;
 width=100%;
}

label.logo{
  color:red;
  font-size:35px;
  line-height:50px;
  padding:0 10px;
  font-weight:bold;
    
}

nav ul{
 float:right;
  margin-right:20px;
 }

nav ul li{
  display:inline-block;
  line-height:30px;
  margin:0 5px;
}

nav ul li a{
  text-decoration: none;
   color:white;
  font-size:20px;
  }



.button{ 
  width: 300px;
  height: 40px;
 border-radius: 25px;
 background: transparent;
 color:snow;
 font-size:20px;
  border:1px solid crimson;
 transition:0.5s;
}
.button:hover{
  background:crimson;
  transform:scale(1.1);
}




